<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h2>All Users Page</h2>
</div>
<table class="table table-black">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Age</th>
        <th scope="col">PhoneNumber</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getSurname()}">Surname</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td th:utext="${user.getPhoneNumber()}">PhoneNumber</td>
        <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <td><form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form></td>
    </tr>
    </tbody>
</table>
</br>
</hr>
<a th:href="@{/users/new_user}">Add user</a>

</body>
</html>